# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
/.idea/
/app/src/main/resources/com/rtkay/kayla/api.txt
/app/src/main/resources/com/rtkay/kayla/api/calendar/oAuth.properties
/app/src/main/resources/com/rtkay/kayla/api/reddit/credentials.properties
