@font-face {
    font-family: Inter Black;
    src: url(Inter-Black.otf);
}

@font-face {
    font-family: Inter Black Italic;
    src: url(Inter-BlackItalic.otf);
}

@font-face {
    font-family: Inter Bold;
    src: url(Inter-Bold.otf);
}

@font-face {
    font-family: Inter Bold Italic;
    src: url(Inter-BoldItalic.otf);
}

@font-face {
    font-family: Inter Extra Bold;
    src: url(Inter-ExtraBold.otf);
}

@font-face {
    font-family: Inter Extra Bold Italic;
    src: url(Inter-ExtraBoldItalic.otf);
}

@font-face {
    font-family: Inter Extra Light;
    src: url(Inter-ExtraLight.otf);
}

@font-face {
    font-family: Inter Extra Light Italic;
    src: url(Inter-ExtraLightItalic.otf);
}

@font-face {
    font-family: Inter Italic;
    src: url(Inter-Italic.otf);
}

@font-face {
    font-family: Inter Light;
    src: url(Inter-Light.otf);
}

@font-face {
    font-family: Inter Light Italic;
    src: url(Inter-LightItalic.otf);
}

@font-face {
    font-family: Inter Medium;
    src: url(Inter-Medium.otf);
}

@font-face {
    font-family: Inter Medium Italic;
    src: url(Inter-MediumItalic.otf);
}

@font-face {
    font-family: Inter Regular;
    src: url(Inter-Regular.otf);
}

@font-face {
    font-family: Inter Semi Bold;
    src: url(Inter-SemiBold.otf);
}

@font-face {
    font-family: Inter Semi Bold Italic;
    src: url(Inter-SemiBoldItalic.otf);
}

@font-face {
    font-family: Inter Thin;
    src: url(Inter-Thin.otf);
}

@font-face {
    font-family: Inter Thin Italic;
    src: url(Inter-ThinItalic.otf);
}

.label {
    -fx-font-family: "Inter Regular";
    -fx-font-smoothing-type: gray;
    -fx-font-size: 20;
}

.button .text {
    -fx-font-family: "Inter Regular";
    -fx-font-smoothing-type: gray;
}

.text {
    -fx-font-family: "Inter Regular";
    -fx-font-smoothing-type: gray;
}

/*Scrollbar*/

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

/*Scrollbar*/

.menu-item .label {
    -fx-font-size: 12;

}

.menu-item {
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-color: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0.85));
    -fx-background-radius: 8;
}